@import "assets/scss/variables.scss";

.app-header {
  img {
    height: 90px;
    width: auto;
  }
  .app-headerPhone {
    background-color: $color-orange;
    color: whitesmoke;

    a {
      color: white;
    }

    a:hover {
      text-decoration: none;
    }
    
  }
  .app-headerModules {
    background-color: #212529;

    a.active {
      background-color: $color-orange;
      border-radius: 0.25rem!important;
      font-weight: bolder;
    }
  }
  .app-headerTitle {
    background-position: "center center";
    background-size: cover;
    min-height: 200px;
    height: 30vh;
    color: whitesmoke;
  }
}
